* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topHeader {
  text-align: right;
  align-items: center;
}
.overflow {
  color: black;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
div.overflow:hover {
  overflow: visible;
  color: black;
}
.textcolor {
  color: black;
}
.cardclass {
  opacity: 85%;
  background-color: rgb(46, 45, 45);
  color: white;
}
