* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topHeader {
  text-align: right;
  align-items: center;
}
.overflow {
  width: 125px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
div.overflow:hover {
  overflow: visible;
}
.textcolor {
  color: aliceblue;
}
